
                 <a href="/monthly" class="linked">NEXT PAGE</a> 

   


                 <h2>WELCOME 🧑‍🍳 {{output}} </h2>

               
                <form action="/waiters/{{output}}" method="post">

        

                <h2>PLEASE CHOOSE THE DAYS</h2>
                <div class="first">
                    <label for="days_of_week">
                <input type="checkbox" class="box" name="accept" value="Sunday">
                Sunday
                </label>
                  </div> 
                   
                    <div class="second">
                    <label for="">
                    <input type="checkbox" class="box" name="accept" value="Monday">Monday
                    </label>
                     </div>


                    <div class="third">
                <label for="">
                   <input type="checkbox" class="box" name="accept" value="Tuesday">Tuesday
                </label>
                </div>

                 <div class="fourth">
                 <label for="">
                    <input type="checkbox" class="box" name="accept" value="Wednesday">Wednesday
                </label>
                </div>

                   <div class="fourth" >
                 <label for="">
                    <input type="checkbox" class="box" name="accept" value="Thursday">Thursday
                </label>
                </div>

                    <div class="fourth">
                 <label for="">
                    <input type="checkbox" class="box" name="accept" value="Friday">Friday
                </label>
                </div>

                     <div class="fourth">
                 <label class="Seventh">
                    <input type="checkbox" class="box" name="accept" value="Saturday">Saturday</span>
                </label>
                </div>
              
        <h4 class="error"> {{messages.error}}</h4>
  <h3 class="success"> {{messages.success}}</h3>


            <div class="button">
            <button> ADD</button>
            <button>DELETE</button>
             </div>
             
    </form>

   
