

                      <a href="/logout" class="linked"><button>LOGOUT</button></a> 
   


                 <h2>WELCOME 🧑‍🍳 {{output}} </h2>

               
                <form action="/waiters/{{output}}" method="post">

        

                <h2>PLEASE CHOOSE THE DAYS</h2>
                <div class="first">
                    <label for="days_of_week">
                <input type="checkbox" class="box" name="accept" value="Sunday" {{#if checked.[0]}}checked{{/if}}>
                Sunday
                </label>



                  </div> 
                   
                    <div class="second">
                    <label for="">
                    <input type="checkbox" class="box" name="accept" value="Monday" {{#if checked.[1]}}checked{{/if}}>Monday
                    </label>
                     </div>


                    <div class="third">
                <label for="">
                   <input type="checkbox" class="box" name="accept" value="Tuesday" {{#if checked.[2]}}checked{{/if}}>Tuesday
                </label>
                </div>

                 <div class="fourth">
                 <label for="">
                    <input type="checkbox" class="box" name="accept" value="Wednesday" {{#if checked.[3]}}checked{{/if}}>Wednesday
                </label>
                </div>

                   <div class="fourth" >
                 <label for="">
                    <input type="checkbox" class="box" name="accept" value="Thursday" {{#if checked.[4]}}checked{{/if}}>Thursday
                </label>
                </div>

                    <div class="fourth">
                 <label for="">
                    <input type="checkbox" class="box" name="accept" value="Friday" {{#if checked.[5]}}checked{{/if}}>Friday
                </label>
                </div>

                     <div class="fourth">
                 <label class="Seventh">
                    <input type="checkbox" class="box" name="accept" value="Saturday" {{#if checked.[6]}}checked{{/if}}>Saturday</span>
                </label>
                </div>
              
        <h4 class="error"> {{messages.error}}</h4>
  <h3 class="success"> {{messages.success}}</h3>


            <div class="button">
            <button> ADD</button>
    
             {{!-- <script src="./setTimer.js"></script> --}}
  <script>
      $('.box').click(function(event) {
     if(this.checked) {
     $('.box').each(function() {
      this.checked = true;
    
    });
    } else {
    $('.box').each(function() {
      this.checked = false;
  
    });
   }
 });
</script>
    </form>
