<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/waiter.css">
    <title>Document</title>
</head>
<body>

                <form action="/waiters/:username" method="post">
            <h2>WELCOME {{named}}</h2>
                <h2>PLEASE CHOOSE THE DAYS</h2>
                <label class="first">
                <input type="checkbox" class="box" name="accept" value="Sunday">Sunday
                </label>
                   

                    <div class="second">
                    <label for="second">
                    <input type="checkbox" class="box" name="accept" value="Monday">Monday
                    </label>
                     </div>


                    <div class="third">
                <label class="third">
                   <input type="checkbox" class="box" name="accept" value="Tuesday">Tuesday
                </label>
                </div>

                 <div class="fourth">
                 <label class="fourth">
                    <input type="checkbox" class="box" name="accept" value="Sunday">Wednesday
                </label>
                </div>

                 <label class="fifth">
                    <input type="checkbox" class="box" name="accept" value="Thursday">Thursday
                </label>

                    <div class="fourth">
                 <label class="Sixth">
                    <input type="checkbox" class="box" name="accept" value="Friday">Friday
                </label>
                </div>

                 <label class="Seventh">
                    <input type="checkbox" class="box" name="accept" value="Saturday">Saturday</span>
                </label>

            <div class="button">
            <button> ADD</button>
            <button>DELETE</button>
             </div>
    </form>
</body>
</html>