<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>

                 {{!-- {{#each output}} --}}

                 <h2>WELCOME 🧑‍🍳 {{output}} </h2>

                 {{!-- {{/each}} --}}
                <form action="/waiters/{{output}}" method="post">

        

                <h2>PLEASE CHOOSE THE DAYS</h2>
                <label class="first">
                <input type="checkbox" class="box" name="accept" value="Sunday">Sunday
                </label>
                   

                    <div class="second">
                    <label for="">
                    <input type="checkbox" class="box" name="accept" value="Monday">Monday
                    </label>
                     </div>


                    <div class="third">
                <label for="">
                   <input type="checkbox" class="box" name="accept" value="Tuesday">Tuesday
                </label>
                </div>

                 <div class="fourth">
                 <label for="">
                    <input type="checkbox" class="box" name="accept" value="Sunday">Wednesday
                </label>
                </div>

                 <label for="">
                    <input type="checkbox" class="box" name="accept" value="Thursday">Thursday
                </label>

                    <div class="fourth">
                 <label for="">
                    <input type="checkbox" class="box" name="accept" value="Friday">Friday
                </label>
                </div>

                 <label class="Seventh">
                    <input type="checkbox" class="box" name="accept" value="Saturday">Saturday</span>
                </label>

            <div class="button">
            <button> ADD</button>
            <button>DELETE</button>
             </div>
    </form>

    <form action="next" method="post">
        <button> NEXT PAGE</button>
    </form>
</body>
</html>