<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>WAITER</title>
</head>
<body>

    <h1>WELCOME TO WAITERS SCHEDULE</h1>
    <form action="/registering" method="POST">
    <button class="owner" type="submit">Register</button>
  
    </form>

        <form action="/login" method="post">
      <button class="waiter" type="submit">LOGIN</button>
        </form>
</body>
</html>