<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>WAITER</title>
</head>
<body>

    <h1>WELCOME TO WAITERS SCHEDULE</h1>

     <img src="css/chef-logo-vector.jpg" alt="Avatar" class="avatar">


    <div class="link">
   <a href="/registered" class="link"><button>REGISTER</button></a>
    </div>
   
  

    <div class="links">
    <a href="/waiter" class="link"><button>LOGIN AS WAITER</button></a>
    </div>
       
</body>
</html>