<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/waiter.css">

    <title>WAITER</title>
</head>
<body>

    <h1>WELCOME TO WAITERS SCHEDULE</h1>
    <form action="owner" method="POST">
    <button class="owner" type="submit">LOGIN AS OWNER</button>
  
    </form>

        <form action="waiter" method="post">
      <button class="waiter" type="submit">LOGIN AS WAITER</button>
        </form>
</body>
</html>