<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {{!-- <link rel="stylesheet" href="../public/css/waiter.css"> --}}
        <link rel="stylesheet" href="css/waiter.css">
    <title>OWNER LOGIN IN</title>
</head>
<body>

 <a href="/">
      <button class="home" type=""> HOME </button>

    </a>

    <h2>Login Form</h2>

<form action="/register" method="post">
  <div class="imgcontainer">
    <img src="css/picOwner.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="OwnersName" required>
     <h3 for="user" class="user">PRESS SUBMIT TO GET YOUR CODE</b></h3>
 <input type="submit">   

   
        <h4 class="error"> {{messages.error}}</h4>
  <h3 class="success"> {{messages.success}}</h3>

<script src="./setTimer.js"></script>
    

  
  </div>

 
</form>
</body>
</html>